@use 'breakdown-layout'

@layer components
  .breakdowns
    @include breakdown-layout.grid

    > .half
      @include breakdown-layout.half

    > .third
      @include breakdown-layout.third

    > .column
      display: flex
      flex-direction: column
      gap: var(--space-7xl)
      min-width: 0

      @include breakdown-layout.third
